header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 27px;
  background-color: var(--secondary-background-color);
  color: var(--primary-background-color);
}

#logo {
  font-size: 26px;
}

.bookmark {
  cursor: pointer;
  width: 26px;
  height: 26px;
  fill: var(--primary-background-color);
}