.titleAndLayoutBtnsDiv {
  display: flex;
  flex-direction: column;
  align-items: self-start;
  padding: 0 0px 18px 0px;
}

#favoritesTitle {
  font-size: 24px;
  color: var(--primary-text-color);
}

.changeVisibilityDiv {
  display: flex;
  align-items: center;
  gap: 5px;
  display: none
}

#pokemonsList {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 0px 18px 0px;
  gap: 15px;
}

#pokemonsGrid {
  display: grid;
  gap: 15px;
  padding: 0 0px 18px 0px;
}

.pokemonsCard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 2px solid var(--secondary-background-color);
  border-radius: 30px;
  padding: 20px;
  gap: 5px;
}

.pokemonTopCardDiv {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.pokemonName {
  color: var(--primary-text-color);
  margin: 0px;
}

.pokemonIdDiv {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 5px;
}

.pokemonImage {
  width: 200px;
  height: auto;
}

.pokemonsCardContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: 100%;  
}

.pokemonsButtonsDiv {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 5px;
  width: 100%;
}

.seePokemonDetailsAnchor {
  width: 100%;
}

.seePokemonDetailsBtn {
  background-color: var(--secondary-background-color);
  color: var(--primary-background-color);
  border: none;
  border-radius: 8px;
  padding: 10px 15px;
  cursor: pointer;
  transition: .4s ease;
  width: 100%;
}

.seePokemonDetailsBtn:hover {
  filter: brightness(0.8);
  transform: translateY(-5px);
}

.releasePokemonBtn {
  background-color: var(--highlight-color);
  color: var(--primary-text-color);
  border: none;
  border-radius: 8px;
  padding: 10px 15px;
  cursor: pointer;
  transition: .4s ease;
  width: 100%;
}

.releasePokemonBtn:hover {
  filter: brightness(0.8);
  transform: translateY(-5px);
}

@media (min-width: 320px) {
  #pokemonsGrid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 425px) {
  .changeVisibilityDiv {
    display: flex;
  }
}

@media (min-width: 600px) {
  #pokemonsList > .pokemonsCard {
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: 0px 30px;
  }

  #pokemonsList > .pokemonsCard > .pokemonImage {
    width: 300px;
    height: auto;
  }

  #pokemonsList > .pokemonsCard > .pokemonsCardContent {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }

  #pokemonsList > .pokemonsCard > .pokemonsCardContent  > .pokemonsButtonsDiv {
    flex-direction: column;
    align-items: flex-end;
  }

  #pokemonsList > .pokemonsCard > .pokemonsCardContent  > .pokemonsButtonsDiv > .seePokemonDetailsAnchor{
    display: flex;
    justify-content: flex-end
  } 

  #pokemonsList > .pokemonsCard > .pokemonsCardContent > .pokemonsButtonsDiv > .seePokemonDetailsAnchor > .seePokemonDetailsBtn {
    padding: 15px;
    font-size: 15px;
    width: 150px;
  }

  #pokemonsList > .pokemonsCard > .pokemonsCardContent > .pokemonsButtonsDiv > .releasePokemonBtn {
    padding: 15px;
    font-size: 15px;
    width: 150px;
  }

  #pokemonsList > .pokemonsCard > .pokemonsCardContent > .pokemonTopCardDiv > .pokemonName {
    font-size: 28px;
  }

  #pokemonsList > .pokemonsCard > .pokemonsCardContent> .pokemonTopCardDiv > .pokemonIdDiv > .pokeballIcon {
    width: 30px;
    height: auto
  }
}

@media (min-width: 840px) {
  #pokemonsGrid {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 1100px) {
  #pokemonsGrid {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (min-width: 1320px) {
  #pokemonsGrid {
    grid-template-columns: repeat(5, 1fr);
  }
}
